* {
  font-family : "Roboto Medium", sans-serif;
  /* font-size 32px
  font-weight 500; */
}
h3{
    font-family: "LL Brown Regular Web", "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: 45px;
}
.header-img {
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }  
  .header-tittle {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 25px;
  }
  .small-tittle {
    color: #ddd;
  }
h1 {
  font-family : "Roboto Medium", sans-serif !important;
  font-size :32px;
  font-weight: 500;
}



  .btn {
    border-radius: 30px ;
  }
  .btn-call-header{
    padding: 12px 50px 12px 50px ;
  }
  .btn-call-action-sm{
    padding: 5px 20px 5px 20px ;
  }
  .btn-call-action-lm{
    padding: 10px 30px 10px 30px ;
  }

.chart-compare ul {
  display: block;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
}
.chart-compare .chart-1{
  position: relative;
}
.chart-compare .chart-1::after{
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 50%;
  border-right: 2px solid #ddd;
  z-index: 2;
}
.chart-compare .chart-2{
  position: relative;
}
.chart-compare .chart-2::after{
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 50%;
  border-right: 2px solid #ddd;
  z-index: 2;
}
.chart-compare .chart-2 ul{
  position: relative;

}

ul.list-compare{
  list-style-image: url("../img/checkmark.png");

}
ul.list-compare li{
  padding-top: 10px;

}

.chart-1 {

}
.chart-imgs-v5 {
  background-color: rgb(243, 245, 246);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-sizing: border-box;
  color: rgb(41, 43, 44);
  /* display :block; */
  font-family :"LL Brown Regular Web", "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height:151px;
  line-height :24px;
  margin-bottom :42px;
  /* text-align: center; */
  text-size-adjust :100%;
  width :364.406px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}







@media (min-width: 767px) {
    .adt7-btn-7178 , .btn-cta-icon {
        display: none;
    }
    .adt7-btn-7178 .btn-cta {
        padding: 0 32px;
    }
    .adt7-btn-7178 .btn-cta-text {
        padding: 16px 0 15px 0;
    }
}
@media (max-width: 768px) {
    .adt7-btn-7178 .btn-cta-icon {
        display: none;
    }
    .adt7-btn-7178 .btn-cta {
        padding: 0 32px;
    }
    .adt7-btn-7178 .btn-cta-text {
        padding: 16px 0 15px 0;
    }
}












